@import "tailwindcss";

@theme {
  --color-matrix: #00ff00;
  --color-matrix-dark: #008f11;
  --color-matrix-light: #39ff14;
  
  --color-deep-black: #030a04;
  --color-ghost-white: #cccccc;
  
  --color-background: #030a04;
  --color-foreground: #cccccc;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-fira-code);
  --font-matrix: var(--font-vt323);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #030a04;
    --color-foreground: #cccccc;
  }
}

body {
  background: var(--color-deep-black);
  color: var(--color-ghost-white);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes glitch {
  0% {
    text-shadow: 0.5px 0 0 #ff00ff, -0.5px 0 0 #00ffff;
    clip-path: inset(20% 0 60% 0);
  }
  20% {
    text-shadow: -0.5px 0 0 #ff00ff, 0.5px 0 0 #00ffff;
    clip-path: inset(40% 0 40% 0);
  }
  40% {
    text-shadow: 0.5px 0 0 #ff00ff, -0.5px 0 0 #00ffff;
    clip-path: inset(60% 0 20% 0);
  }
  60% {
    text-shadow: -0.5px 0 0 #ff00ff, 0.5px 0 0 #00ffff;
    clip-path: inset(80% 0 5% 0);
  }
  80% {
    text-shadow: 0.5px 0 0 #ff00ff, -0.5px 0 0 #00ffff;
    clip-path: inset(50% 0 30% 0);
  }
  100% {
    text-shadow: none;
    clip-path: inset(0);
  }
}

.glitch-hover:hover {
  animation: glitch 0.25s linear;
  text-shadow: 0.5px 0 0 #ff00ff, -0.5px 0 0 #00ffff;
}