@import "tailwindcss";

@theme {
  --color-matrix: #00ff00;
  --color-matrix-dark: #008f11;
  --color-matrix-light: #39ff14;
  
  --color-deep-black: #030a04;
  --color-ghost-white: #cccccc;
  
  --color-background: #030a04;
  --color-foreground: #cccccc;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-fira-code);
  --font-matrix: var(--font-vt323);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #030a04;
    --color-foreground: #cccccc;
  }
}

body {
  background: var(--color-deep-black);
  color: var(--color-ghost-white);
  font-family: Arial, Helvetica, sans-serif;
}